//Node Colors
$GRAYSCALE_NODE_BACKGROUND_COLOR: #00796B;
$GRAYSCALE_NODE_TITLE_BACKGROUND_COLOR: #004D40;
$GRAYSCALE_NODE_SOCKET_COLOR: #868686;
$GRAYSCALE_NODE_CONNECTION_COLOR: #868686;


$SELECTED_BORDER_COLOR: white;


//Font Colors and Background Colors
$DEFAULT_COLOR: #252525;
$FONT_COLOR: #fff;
$MENUBAR_HOVER_COLOR: #353434;
$BUTTON_COLOR: #00695C;
$TRANSPARENT_BUTTON_COLOR: rgba(0, 105, 92, 0.2);
$TAB_BUTTON_COLOR: #4DB6AC;
$ON_HOVER_MENU_TEXT_COLOR: #4DB6AC;
$MENU_DIVIDER_COLOR: #868686;
$MENUBAR_COLOR: #313231;
$SECONDARY_TEXT_COLOR: #818181;

$ERROR_COLOR: #e8232d;