.toggleButton {
  cursor: pointer;
  display: block;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: transform .14s ease; }
  .toggleButton:active {
    transform: rotateX(30deg); }
  .toggleButton input {
    display: none; }
    .toggleButton input + div {
      border: 3px solid rgba(232, 35, 45, 0.2);
      border-radius: 50%;
      position: relative;
      width: 24px;
      height: 24px; }
      .toggleButton input + div svg {
        fill: none;
        stroke-width: 3.6;
        stroke: #e8232d;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        left: -3px;
        top: -3px;
        right: -3px;
        bottom: -3px;
        z-index: 1;
        stroke-dashoffset: 124.6;
        stroke-dasharray: 0 162.6 133 29.6;
        transition: all .4s ease 0s; }
      .toggleButton input + div:before, .toggleButton input + div:after {
        content: '';
        width: 3px;
        height: 16px;
        background: #e8232d;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 5px; }
      .toggleButton input + div:before {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
        animation: bounceInBefore .3s linear forwards .3s; }
      .toggleButton input + div:after {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
        animation: bounceInAfter .3s linear forwards .3s; }
    .toggleButton input:checked + div svg {
      stroke-dashoffset: 162.6;
      stroke-dasharray: 0 162.6 28 134.6;
      transition: all .4s ease .2s; }
    .toggleButton input:checked + div:before {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
      animation: bounceInBeforeDont .3s linear forwards 0s; }
    .toggleButton input:checked + div:after {
      opacity: 0;
      transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
      animation: bounceInAfterDont .3s linear forwards 0s; }

@keyframes bounceInBefore {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg); }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg); } }
@keyframes bounceInAfter {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg); }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); } }
@keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); } }
@keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); } }
.toggle_grayscale input + div {
  border: 3px solid rgba(0, 121, 107, 0.2); }
  .toggle_grayscale input + div svg {
    stroke: #00796B; }
  .toggle_grayscale input + div:before, .toggle_grayscale input + div:after {
    background: #00796B; }

.input-field {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0; }
  .input-field input {
    margin-bottom: 0;
    height: 2rem; }

/*# sourceMappingURL=elements.css.map */
